<% action = (user.persisted? ? user_url(user) : user_url) %>
<% method = (user.persisted? ? "PATCH" : "POST") %>
<% message = (user.persisted? ? "Update user" : "Create user") %>
<%= render "shared/errors" %>

<form action="<%= action %>" method="POST" >
  <input
    type="hidden",
    name="authenticity_token",
    value="<%= form_authenticity_token %>">
    
  <input type="hidden" name="_method" value="<%=method%>">

  <label for="user_name">User</label>
  <input
    type="text"
    name="user[user_name]"
    id="user_name"
    value="<%= user.user_name %>">

  <br>
  <label for="password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="password">

  <br>
  <input type="submit" value="<%= message %>">

</form>
