<% string = (track.persisted? ? "Edit" : "Create") %>
<% action = (track.persisted? ? track_url(track) : tracks_url) %>
<% method = (track.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="hidden" name="_method" value="<%= method %>">

  <label for="track_album">Band Name</label>
  <select name="track[album_id]" id="track_album">
    <option></option>
    <% Album.all.each do |album| %>
      <option
        <%= album.id == params[:album_id].to_i ||
            album.id == @track.album_id ? "selected" : "" %>
        value="<%= album.id %>">
        <%= album.name %>
      </option>
    <% end %>
  </select>
  <br>

  <label for="track_name">Track Name</label>
  <input type="text" name="track[name]" id="track_name"
      value="<%= @track.name %>">
  <br>

  <input type="radio" name="track[checked]" value="Regular" id="track_reg"
      <%= "checked" if @track.checked == "Regular"%>>
  <label for="track_reg">Regular</label>
  <input type="radio" name="track[checked]" value="Bonus" id="track_bon"
      <%= "checked" if @track.checked == "Bonus"%>>
  <label for="track_bon">Bonus</label>
  <br>

  <label>
    Lyrics
    <textarea name="track[lyrics]"><%= @track.lyrics %></textarea>
  </label>
  <br>

  <input type="submit" value="<%= string %> Track">
</form>
