<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:session_token] && current_user %>
  <%= button_to "Logout", session_url, method: :delete %>
  <p>Hello, <%= current_user.user_name %>.</p>
  <p><%= session[:session_token] %></p>
<% else %>
  <%= link_to "Login", new_session_url %>
  <p><%= current_user %></p>
  <p><%= session[:session_token] %></p>
<% end %>

<%= yield %>

</body>
</html>
